
@media only screen and (max-width : 1440px)
	.container
		max-width: 1200px

	.hero
		&::before
			left: 40%
			top: -50%
			right: auto


@media only screen and (max-width : 1200px)
	.container
		max-width: 992px

	h1,
	h2
		font-size: 36px

	.hero
		padding: 90px 0 0

		&::before
			display: none


		&__cover
			width: 100%

		&__list
			justify-content: space-around

	.calcul
		padding: 50px 0 20px

		&::before
			display: none

		&__container
			text-align: center

		&__map
			img
				position: relative
				bottom: 0
				right: 0

		&__btn
			margin-top: 20px

	.question
		padding: 50px 0 30px

		&__container
			justify-content: space-between


		&__form
			width: 58%

			p
				margin: 15px 0
				br
					display: none

		&__button
			margin-top: 20px

		&__right
			width: 40%

			img
				width: 100%
				position: relative
				top: 0px
				left: 0

	.tabs-list
		li
			margin-right: 40px

			&::before
				width: 40px

	.calculation
		padding-top: 150px

		h2
			margin-bottom: 40px

		.question__form 
			width: 60%

		&__right
			&::before
				right: 80%
				bottom: 25px

			p
				font-size: 18px

				br
					display: block

			img
				margin-bottom: 15px

	.tabs-list
		margin-bottom: 40px


@media only screen and (max-width : 992px)
	.container
		max-width: 767px

	.tabs-list li a
		padding: 0 25px

	.btn
		padding: 0 30px

	h1, h2
		font-size: 30px !important

	h3
		font-size: 30px

	.question__form p
		font-size: 18px

	.header
		&__left
			img
				margin-right: 15px
			&_nav
				a
					font-size: 25px

					&:nth-child(2)
						font-size: 20px

	.hero
		padding: 60px 0 0

		h1
			text-align: center

		h2
			font-size: 20px !important

		&__list
			margin-top: 30px

		&__item:nth-child(1),
		&__item:nth-child(2)
			margin-bottom: 30px

	.calcul

		p
			font-size: 45px

		&__map 
			img
				width: 100%


	.calculation
		&__right
			top: 50%
			transform: translate(0, -50%)

			&::before
				display: none
		
		&__content
			margin-bottom: 30px

		&__item
			margin-bottom: 30px
			width: 60%

			&:last-child
				margin-bottom: 0

	.wrap-btn
		justify-content: flex-start

	.question__input
		flex-wrap: wrap

		div
			width: 100%
			margin-bottom: 15px

			&:last-child
				margin-bottom: 0


	.footer

		&__container
			flex-direction: column
			text-align: center

		&__probis
			margin-bottom: 20px

		&__place
			margin-top: 20px


@media only screen and (max-width : 767px)
	.container
		max-width: 576px

	.header

		&::before
			left: -33%

		&__logo
			img
				width: 75%

		a
			font-size: 22px

			&:nth-child(2)
				font-size: 17px

		p
			font-size: 12px

		&__left
			img
				width: 20%

	.hero
		padding-bottom: 20px

		&::after
			bottom: -20px

		&__list
			margin-bottom: 30px

			img
				top: 0

		&__item
			margin-bottom: 30px

			&:last-child
				margin-bottom: 0


		&__rel
			display: flex
			justify-content: center

		&__footer
			position: relative
			bottom: 0

			img
				display: none
	
	.calculation
		padding: 30px 0

		&__right
			display: none

		&__list
			margin-bottom: 20px


		.question__form
			width: 100%

	.tabs-list
		margin-bottom: 20px


	.calcul
		&__btn
			padding: 0 30px
			margin-top: 20px
			height: 50px
			line-height: 50px

		h2
			br
				display: none

		p
			font-size: 36px

	.question

		h3
			font-size: 32px
			text-align: center

		p
			font-size: 16px
			margin: 15px 0 30px
			text-align: center

		&__input
			flex-direction: column

	.tabs-list
		li
			margin-right: 10px

			&::before
				width: 10px

			a
				padding: 0 15px


@media only screen and (max-width : 576px)

	h1,h2,h3
		font-size: 22px !important
	
	.calculation h2
		text-align: center

	.header
		&::before
			display: none

		a
			font-size: 20px

			&:nth-child(2)
				font-size: 16px

	.hero
		padding: 25px 0

		&__item
			width: 48%

			br
				display: none

			p
				font-size: 16px

			img
				top: 0

	.calcul

		p
			font-size: 35px

	.question
		padding-bottom: 30px

		&__right
			display: none

		&__form
			width: 100%


@media only screen and (max-width : 480px)
	.tabs-list
		flex-wrap: wrap

		li
			width: 100%
			margin-right: 0
			text-align: center
			margin-bottom: 10px

			&::before
				top: 100%
				left: 50%
				transform: translate(-50%, 0)
				width: 1px
				height: 10px

	.calculation
		h2
			margin-bottom: 20px

		&__content p
			line-height: 1.4

		&__item
			width: 100%

	.question
		padding-top: 25px
		
		h3
			font-size: 22px

		&__button
			.btn
				margin-right: 10px
				padding: 0 15px

				&:last-child
					margin-right: 0


	.header

		&__logo
			img
				width: 120px

		&__left img
			display: none

	.hero
		margin-top: 70px

		&__item
			width: 100%

			h2
				font-size: 20px

			div

				p
					font-size: 15px

		.btn
			padding: 0 25px

	.calcul
		padding: 20px 0

		p
			font-size: 22px

		&__btn
			padding: 0 15px
			font-size: 14px









